* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B22222;
}

body {
  margin: 50px;
}

h1 {
  text-align: center;
  color: #FFD166;
  font-family: "Sacramento", cursive;
  font-size: 50px;
}

#sketchWindow {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 80vw;
  max-width: 80vh;
  max-height: 80vh;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #CCDDE2;
  overflow: hidden;
  /* margin: 20px; */
}

.pixel {
  background-color: #CCDDE2;
}

button {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: none;
  background-color: #F4FAFF;
}

#buttonPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}